*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: grey;
}

:root{
    --dark-blue: rgb(20, 25, 34);
    --dark-grey: rgb(40, 40, 40);
    --lemon-green: rgb(182, 255, 48);
    --overlay: rgba(0, 0, 0, 0.5);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

li:hover,
.new-playlist:hover{
    cursor: pointer;
}

li:hover a,
li:hover i,
.new-playlist:hover>a,
.new-playlist:hover>i{
    color: white;
}

h4{
    color: white;
}