@media screen and (max-width: 1280px) {
    .row{
        flex-wrap: wrap;
    }
    .music img{
        width: 17vw;
    }
    .overlay {
        width: 17vw;
        height: 17vw;
    }
    .footer-nav.left img{
        width: 5vw;
    }
    
}

@media screen and (max-width: 720px) {
    .music img{
        width: 25vw;
    }
    .overlay {
        width: 25vw;
        height: 25vw;
    }
    .music i{
        font-size: 30px;
    }
    .footer-nav.left img{
        width: 7vw;
    }
}

@media screen and (max-width: 480px) {
    aside{
        width: 50px;
    }
    section{
        width: calc(100% - 50px);
    }
    .spotify-premium{
        padding-right: 50px;
    }
    aside li>a,
    aside li>h4,
    .aside-nav img,
    .aside-nav.playlist{
        display: none;
    }
    aside{
        align-items: center;
        justify-content: flex-start;
    }
    .aside-nav ul>li,
    .aside-nav li.active{
        margin: 0;
        padding: 10px;
        border: none;
    }
    aside ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .fa-spotify{
        display: inline-block;
    }
    .aside-nav:last-child{
        position: absolute;
        bottom: 75px;
        left: 0;
    }
    .fa-circle-down{
        padding-left: 4px;
    }
    .footer-nav.left img{
        width: 9vw;
    }
}