/*
    MAIN
*/
main{
    background-color: var(--dark-blue);
    height: calc(100vh - 50px);
}

/* SPOTIFY-PREMIUM */
.spotify-premium{
    width: 100%;
    position: fixed;
    background-color: var(--overlay);

    justify-content: flex-end;
    align-items: center;
}

/* ASIDE */
aside{
    background-color: black;
    width: 200px;

    flex-direction: column;
    justify-content: space-between;
}

.aside-nav.playlist{
    height: 100%;

    overflow: auto;
}

/* SECTION */
section{
    width: 100%;
    overflow: auto;
}
/*
    /MAIN
*/


/*
    FOOTER
*/
footer{
    background-color: var(--dark-grey);
}

.footer-container{
    justify-content: space-between;
}

.footer-nav{
    width: calc(100% / 6);
}
/*
    /FOOTER
*/