/*
    MAIN
*/
main{
    background-color: var(--dark-blue);
    height: calc(100vh - 50px);
}

/* ASIDE */
aside{
    background-color: black;
    width: 200px;

    flex-direction: column;
    justify-content: space-between;

    font-size: 12px;
}

.aside-nav{
    padding: 7.5px;
}

.aside-nav li, 
.aside-nav h3{
    padding: 5px 0;
}

.aside-nav.playlist{
    height: 100%;
    min-height: 100px;

    overflow: auto;
}

.non-playlist img{
    width: 75%;
}
/* SECTION */
section{
    width: 100%/*calc(100% - 200px)*/;
    overflow: auto;
}
    /* Fascia superiore */
.spotify-premium{
    width: 100%;
    padding-right: 200px;

    position: fixed;
    background-color: var(--overlay);

    justify-content: flex-end;
    align-items: center;
}
/*
    /MAIN
*/


/*
    FOOTER
*/
footer{
    background-color: var(--dark-grey);
}

.footer-container{
    justify-content: space-between;
}

.footer-nav{
    width: calc(100% / 6);
}
/*
    /FOOTER
*/